<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="account"></ion-back-button>
    </ion-buttons>
    <ion-title >My Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <div *ngIf="!noFriendsYet" >

    <ion-list *ngIf="!toSend" >
      <ion-item *ngFor="let friendname of FriendsData?.names; let i = index" (click)="goToUserPage(FriendsData?.usernames[i])" >
        <ion-avatar slot="start">
          <img [src]="pictureLink+FriendsData?.pictures[i]">
        </ion-avatar>
        <h3> {{friendname}} 
          <!-- <span style="font-size: 15px;font-style: italic; font-weight: 600; color: #1aa468;"> ({{FriendsData.usernames[i]}})</span>  -->
         </h3>
      </ion-item>
     
    </ion-list>

    <ion-list *ngIf="toSend" >
      <ion-item *ngFor="let friendname of FriendsData?.names; let i = index" (click)="goToSendPage(FriendsData?.usernames[i])" >
        <ion-avatar slot="start">
          <img [src]="pictureLink+FriendsData?.pictures[i]">
        </ion-avatar>
        <h3> {{friendname}} 
          <!-- <span style="font-size: 15px;font-style: italic; font-weight: 600; color: #1aa468;"> ({{FriendsData.usernames[i]}})</span>  -->
         </h3>
      </ion-item>
     
    </ion-list>

  </div>

  <div *ngIf="noFriendsYet" class="ion-text-center noFriendsYet" style="margin-top: 50%;">

    <h3>
      You have no friends yet, you can <br>

      <ion-button routerLink="../../searchuser" size="large" fill="clear" style="color: #50bfbf; margin-top: -10px; margin-bottom: -7px;">
        Search
      </ion-button>
<br>
      a user and add him to your friends list for quick send.

    </h3>

  </div>

</ion-content>
